.header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    height: 30px;
    background-color: #0D0D0D;
    width: calc(100% - 300px);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;
    padding: 7px 10px 0;
}
.nav__list li{
    margin-right: 25px;
}
.nav__list li:last-child{
    margin-right: 0px;
}
.login{
    color: #ffffff;
}
.email{
    color: #ffffff;
}