
.profile-users{
  color: #ffffff;
}
.profile-users__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.profile-users__person{
  padding-right: 50px;
  max-width: 300px;
}
.profile-users__name{
  margin-bottom: 20px;
  font-size: 20px;
}
.profile-users__discribe{
  font-size: 12px;
  line-height: 24px;
}
.profile-users__picture{
  width: 200px;
}
.profile-users__picture img{
  max-width: 100%;
  border: 10px solid transparent;
  border-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(86,118,240,1) 35%, rgba(0,212,255,1) 100%);
  height: 200px;
  border-image-slice: 1;
  display: block;
}
